@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
:root {
  --font-family: 'Kumbh Sans', sans-serif;
  --dark-blue: hsl(233, 26%, 24%);
  --grayish-blue: hsl(233, 8%, 62%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}

/* -------------------- MOBILE DESIGN -------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
body {
    background-color: var(--light-grayish-blue);
    flex-direction: column;
}
main {
    position: absolute;
}
.navbar-mobile {
    display: flex;
    background-color: var(--white);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 1.6rem;
    position: fixed;
    z-index: 1;

    & .logo {
        margin-left: -48px;
    }
    & .image-avatar {
        margin-left: -48px;
        width: 32px;
        height: 32px;
    }
}
.navbar-container {
    height: 73.69px;
}
.images-container {
    position: relative;

    & .icon-previous {
        background-color: var(--white);
        padding: 12px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    & .icon-next {
        background-color: var(--white);
        padding: 12px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
.images-container .product-thumbnail {
    width: 100%;
}
.info-container {
    display: flex;
    flex-direction: column;
}
.description-info-container {
    & h5, h1, p {
        padding: 0.5rem 1.4rem;
}
    & h5, p {
        color: var(--dark-grayish-blue);
    }
    & h5 {
        letter-spacing: 1.8px;
    }
    & p {
        line-height: 1.5;
    }
} 
.price-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4rem;
    margin-top: 1.5rem;

    & .price {
        font-size: 1.5rem;
        font-weight: 700;
    }
    & .discount {
        background-color: var(--dark-blue);
        color: var(--white);
        padding: 0.3rem 0.8rem;
        border-radius: 8px;
        font-weight: 700;
    }
}